@font-face {
    font-family: "Montserrat_light";
    src: url("/fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: "Montserrat_Regular";
    src: url("/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat_Bold";
    src: url("/fonts/MontserratAlternates-Bold.otf");
}
@font-face {
    font-family: "catter-pie";
    src: url("/fonts/Catterpie-Regular.ttf");
}

.catter-pie{
    font-family: "catter-pie";
}
.mont-bold{
    font-family: "Montserrat_Bold";
}

.mont-regular{
    font-family: "Montserrat_Regular";
}
.mont-Light{
    font-family: "Montserrat_light";
}

.fadeDown{
    opacity: 0;
	animation: fadeIn 1s ease-in both;
}


body{
    background-color:#0a4139;
    margin: 50px;
    font-family: "Montserrat_Regular";
    overflow-x: hidden;
}
main{
    background-color: #135d52;
    border-radius: 40px;
    padding-bottom: 4%;
}
#main-section{
    background-color: #135d52;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    height: 1000px;
    background-blend-mode: multiply;
    background-image: url("https://1wtk5j28.tinifycdn.com/images/back-img.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.altuni{
    color:#b49983;
}
#travel{
    font-size:220px;
    color: #b49983;    
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s linear 1s 1 normal both;
}
#made-easy{
    font-size:100px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -160px;
    margin-left: 140px;
    animation: 4s ease 0s normal forwards 1 fadeIn;
}

.section{
    margin-top: 200px;
}
.text-big{
    font-size:90px;
}
.text-justify-css{
    text-align: justify;
}

p{
    font-size:20px;
}
h1{
    line-height:35px;
}
.services div div {
    width:200px;
    height:250px;
    background-color: #0a4139;
    margin: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.services div div:hover {
    transform: scale(1.4);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #135d52; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .paper {
    position: absolute;
    margin-top: -100px;
    margin-left: 110px;
    animation: 4s ease 0s normal forwards 1 fadeIn;
    transition: 1s;
  }

 #middleText > #travel:hover +.paper{
      margin-top:-700px;
  }
  .section{
    margin-top: 200px;
}
.text-big{
    font-size:90px;
}
.text-justify-css{
    text-align: justify;
}

p{
    font-size:20px;
}
h1{
    line-height:35px;
}
   

  .nav-link{
    transition:0.5s;
  }
  .nav-link:hover{
      transform: scale(1.1);
      color: #b49983 !important;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes fadeIn {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }
 

  @keyframes fadeDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}



/* mobile */
@media only screen and (max-width: 600px) {

   
    html,body{
        margin: 0px;
        overflow-x: hidden !important;
    }
    main{
        border-radius: 0px;
    }
    #travel{
        font-size:150px;
    white-space: none;
    }
    #made-easy{
        margin-left: 0;
        font-size:70px;
        margin-top: -105px;
    }
    .header {
         font-size:40px;
    }
    .img-logo{
        width:150px;
    }
    .text-justify-css{
        padding: 10px !important;
    }
    .services div div {
        width:100%;
        margin-left:0;
        border-radius: 10px !important;
    }
   
      .services div {
        margin-top: 0 !important;
      }

      #middleText{
          align-self: center;
          height:max-content;
          width: 100% !important;
      }
      
      .paper:hover {
        margin-top: -1000px !important;
      }
    
    #main-section{
        max-height: 100vh;
        overflow: auto;       flex-direction: column;
       display:flex;
       border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    }
    nav{
        position: absolute !important;
    }
    .navbar-collapse {
        background-color: #0a4139;
        z-index: 100001;
    }

    .line{
        display: none;
    }
    .navbar-toggler:focus{
        color: rgba(255, 255, 255, 0) !important;
        border-color: rgba(255, 255, 255, 0) !important;
    }
   
}
